<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            width: 90vw;
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <form action="/logar" method="post" autocomplete="on">
        <a href="{{ url_for('pag_cadastro') }}">Cadastre-se</a><br>
        {{ msg }}
        <br>
        <input type="email" name="email" id="" placeholder="email" autocomplete="email" required><br>
        <input type="password" name="senha" id="" placeholder="senha" autocomplete="current-password" required><br>
        <input type="submit" value="Logar">
    </form>
</body>
</html>